<h1><%= @user.email %>'s Created Events:</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<h2>List of Attended Events:</h2>

<% today = Date.today %>
<p>Past Events:</p>
<ul id="past-events">
  <% @user.attended_events.where("start_date < ?", today).each do |event| %>
    <% attendance = event.attendances.find_by(attendee_id: @user.id) %>
    <% if attendance %>
      <li id="attendance_<%= attendance.id %>">
        <%= link_to event.name, event %>
        <%= button_to 'Leave Event', attendance_path(attendance), method: :delete, data: { turbo_confirm: "Are you sure you want to leave this event?" }, class: "leave-event-button" %>
      </li>
    <% end %>
  <% end %>
</ul>

<p>Upcoming Events:</p>
<ul id="upcoming-events">
  <% @user.attended_events.where("start_date >= ?", today).each do |event| %>
    <% attendance = event.attendances.find_by(attendee_id: @user.id) %>
    <% if attendance %>
      <li id="attendance_<%= attendance.id %>">
        <%= link_to event.name, event %>
        <%= button_to 'Leave Event', attendance_path(attendance), method: :delete, data: { turbo_confirm: "Are you sure you want to leave this event?" }, class: "leave-event-button" %>
      </li>
    <% end %>
  <% end %>
</ul>

