<h1><%= @event.name %> Event Details:</h1>
<p>Event Creator: <%= @event.creator.email %></p>
<p>Start Date: <%= @event.start_date %></p>
<p>Location: <%= @event.location %></p>
<p>Current Attendees:</p>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= attendee.email %>
    </li>
  <% end %>
</ul>

<% if @event.attendees.include?(current_user) %>
  <p>You are already attending this event :D</p>
<% else %> 
  <%= form_with(model: @attendance, url: attendances_path, local: true) do |form| %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.submit "Attend" %>
  <% end %>
<% end %>
